/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.container {
  display: flex;
  margin: 90px auto;
  padding: 5px auto;
  background-color: floralwhite;
  max-width: 90%;
  min-width: 70%;
}
mat-toolbar {
  position: fixed;
  top: 10px;
  left:10px;
  right: 10px;
  width: 100%;
  padding: 10px;
  z-index: 100;
  margin: auto;
}

.flex-spacer {
  flex-grow: 1 1 auto;
}

.card {
  margin: auto;
}
.header {
  
}
