/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


div {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  background-color: aliceblue;
}
p {
  background-color: orange;
  border: 2px solid blue;
}
.top {
  display: flex;
  position: fixed;
  top: 5px;
  left: 2px;
  right: 2px;
  z-index: 100;
  margin: auto;
}


/*
.container {
  display: flex;
  margin: 40px auto;
  padding: 5px auto;
  background-color: floralwhite;
  max-width: 90%;
  min-width: 70%;
}
mat-toolbar {
  position: fixed;
  top: 5px;
  left: 8px;
  z-index: 100;
  margin: auto;
}

.flex-spacer {
  flex-grow: 1 1 auto;
}

.card {
  margin: 10px auto 10px auto;
  padding: 10px 10px 10px 10px;
}
.header {
  
}
*/

